{% render 'partials/head.liquid', title: 'Home' %}

<section class="specifiek-journal">
    {% for file in files %}
        <a class="journals" href="/journal/{{file|slice:0,-3}}">{{ file|slice:0,-3 }}</a>
    {% endfor %}
</section> 


{% render 'partials/footer.liquid' %}